.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3280px;
}

.u-section-1 .u-text-1 {
  margin: 60px 331px 0 401px;
}

.u-section-1 .u-list-1 {
  width: 822px;
  min-height: 2926px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-gap: 10px 10px;
  height: auto;
  margin: 60px auto 60px 115px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 308px;
  height: 308px;
  background-image: url("bod/PKS_8913Large.JPG");
  background-position: 50% 2.05%;
  animation-duration: 1000ms;
  margin: 36px 435px 0 19px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -327px 0 0 347px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px 0 0 347px;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0 347px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-image-2 {
  width: 308px;
  height: 308px;
  background-image: url("bod/Kabiraj.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 36px 435px 0 19px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -327px 0 0 347px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px 0 0 347px;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0 347px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-image-3 {
  width: 308px;
  height: 308px;
  background-image: url("bod/rajiv_Director_new.jpg");
  background-position: 50% 0%;
  animation-duration: 1000ms;
  margin: 36px 435px 0 19px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -327px 0 0 347px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px 0 0 347px;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0 347px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-image-4 {
  width: 308px;
  height: 308px;
  background-image: url("bod/PKS_8890Large.JPG");
  background-position: 50% 21.24%;
  animation-duration: 1000ms;
  margin: 36px 435px 0 19px;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -327px 0 0 347px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px 0 0 347px;
}

.u-section-1 .u-text-13 {
  margin: 20px 0 0 347px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-image-5 {
  width: 308px;
  height: 308px;
  background-image: url("bod/PKS_8832Large.JPG");
  background-position: 50% 0%;
  animation-duration: 1000ms;
  margin: 36px 435px 0 19px;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -327px 0 0 347px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px 0 0 347px;
}

.u-section-1 .u-text-16 {
  margin: 20px 0 0 347px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-1 .u-image-6 {
  width: 308px;
  height: 308px;
  background-image: url("bod/PKS_8851Large.JPG");
  background-position: 50% 28.35%;
  animation-duration: 1000ms;
  margin: 36px 435px 0 19px;
}

.u-section-1 .u-text-17 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -327px 0 0 347px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px 0 0 347px;
}

.u-section-1 .u-text-19 {
  margin: 20px 0 0 347px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-1 .u-image-7 {
  width: 308px;
  height: 308px;
  background-image: url("bod/PKS_8845Large1.JPG");
  background-position: 50% 30.08%;
  animation-duration: 1000ms;
  margin: 36px 435px 0 19px;
}

.u-section-1 .u-text-20 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -327px 0 0 347px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px 0 0 347px;
}

.u-section-1 .u-text-22 {
  margin: 20px 0 0 347px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 301px;
    margin-right: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1393px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 191px;
    margin-right: 121px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1058px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 258px;
    height: 258px;
    margin-right: 352px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -226px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 290px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-2 {
    width: 258px;
    height: 258px;
    margin-right: 352px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -226px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 290px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-3 {
    width: 258px;
    height: 258px;
    margin-top: 284px;
    margin-right: 352px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -226px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 290px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-4 {
    width: 258px;
    height: 258px;
    margin-top: 284px;
    margin-right: 352px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -226px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 290px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-5 {
    width: 258px;
    height: 258px;
    margin-top: 284px;
    margin-right: 352px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -226px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-left: 290px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-6 {
    width: 258px;
    height: 258px;
    margin-top: 284px;
    margin-right: 352px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: -226px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-left: 290px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-7 {
    width: 258px;
    height: 258px;
    margin-top: 284px;
    margin-right: 352px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: -226px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-left: 290px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 101px;
    margin-right: 31px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 235px;
    height: 235px;
    margin-right: 212px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -203px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 258px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 105px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 235px;
    height: 235px;
    margin-right: 212px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    margin-top: -203px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 258px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 105px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 235px;
    height: 235px;
    margin-top: 282px;
    margin-right: 212px;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.25rem;
    margin-top: -203px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 258px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 105px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    width: 235px;
    height: 235px;
    margin-top: 282px;
    margin-right: 212px;
  }

  .u-section-1 .u-text-11 {
    font-size: 2.25rem;
    margin-top: -203px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 258px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 105px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    width: 235px;
    height: 235px;
    margin-top: 282px;
    margin-right: 212px;
  }

  .u-section-1 .u-text-14 {
    font-size: 2.25rem;
    margin-top: -203px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 258px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 105px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    width: 235px;
    height: 235px;
    margin-top: 282px;
    margin-right: 212px;
  }

  .u-section-1 .u-text-17 {
    font-size: 2.25rem;
    margin-top: -203px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 258px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 105px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    width: 235px;
    height: 235px;
    margin-top: 282px;
    margin-right: 212px;
  }

  .u-section-1 .u-text-20 {
    font-size: 2.25rem;
    margin-top: -203px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 258px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 105px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    min-height: 1676px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
    margin-right: 12px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
    margin-right: 12px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-left: auto;
    margin-right: 12px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }
}