 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3418px;
}

.u-section-1 .u-text-1 {
  margin: 76px auto 0;
}

.u-section-1 .u-list-1 {
  width: 822px;
  grid-template-rows: auto auto auto;
  margin: 77px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 3153px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-image-1 {
  width: 308px;
  height: 308px;
  background-image: url("images/Untitled-2.jpg");
  background-position: 50% 50%;
  margin: 42px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  text-transform: none;
  margin: -288px 20px 0 367px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.875em;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  text-align: left;
  margin: -15px 19px 0 368px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.875em;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-image-2 {
  width: 308px;
  height: 308px;
  background-image: url("images/Prajwol.jpg");
  background-position: 50% 50%;
  margin: 42px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  text-transform: none;
  margin: -288px 20px 0 367px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.875em;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  text-align: left;
  margin: -15px 19px 0 368px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.875em;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-image-3 {
  width: 308px;
  height: 308px;
  background-image: url("images/PawanNew.jpg");
  background-position: 50% 31.97%;
  margin: 42px auto 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 2.25rem;
  text-transform: none;
  margin: -288px 20px 0 367px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-icon-5 {
  font-size: 1.875em;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  text-align: left;
  margin: -15px 19px 0 368px;
}

.u-section-1 .u-icon-6 {
  font-size: 1.875em;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-image-4 {
  width: 308px;
  height: 308px;
  background-image: url("images/Lok.jpg");
  background-position: 50% 0%;
  margin: 42px auto 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 2.25rem;
  text-transform: none;
  margin: -288px 20px 0 367px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-icon-7 {
  font-size: 1.875em;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  text-align: left;
  margin: -15px 19px 0 368px;
}

.u-section-1 .u-icon-8 {
  font-size: 1.875em;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-image-5 {
  width: 308px;
  height: 308px;
  background-image: url("https://nationallife.com.np/img/nabin%20claim.JPG");
  background-position: 50% 50%;
  margin: 42px auto 0 0;
}

.u-section-1 .u-text-18 {
  font-size: 2.25rem;
  text-transform: none;
  margin: -288px 20px 0 367px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-icon-9 {
  font-size: 1.875em;
}

.u-section-1 .u-text-21 {
  font-size: 1.25rem;
  text-align: left;
  margin: -15px 19px 0 368px;
}

.u-section-1 .u-icon-10 {
  font-size: 1.875em;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-image-6 {
  width: 308px;
  height: 308px;
  background-image: url("images/28922Vishal.jpg");
  background-position: 50% 50%;
  margin: 42px auto 0 0;
}

.u-section-1 .u-text-22 {
  font-size: 2.25rem;
  text-transform: none;
  margin: -288px 20px 0 367px;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-24 {
  font-size: 1.25rem;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-icon-11 {
  font-size: 1.875em;
}

.u-section-1 .u-text-25 {
  font-size: 1.25rem;
  text-align: left;
  margin: -15px 19px 0 368px;
}

.u-section-1 .u-icon-12 {
  font-size: 1.875em;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-1 .u-image-7 {
  width: 308px;
  height: 308px;
  background-image: url("images/Sushil1.jpg");
  background-position: 50% 53.37%;
  margin: 42px auto 0 0;
}

.u-section-1 .u-text-26 {
  font-size: 2.25rem;
  text-transform: none;
  margin: -288px 20px 0 367px;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-28 {
  font-size: 1.25rem;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-icon-13 {
  font-size: 1.875em;
}

.u-section-1 .u-text-29 {
  font-size: 1.25rem;
  text-align: left;
  margin: -15px 19px 0 368px;
}

.u-section-1 .u-icon-14 {
  font-size: 1.875em;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-1 .u-image-8 {
  width: 308px;
  height: 308px;
  background-image: url("images/preety2.jpg");
  background-position: 50% 13.46%;
  margin: 42px auto 0 0;
}

.u-section-1 .u-text-30 {
  font-size: 2.25rem;
  text-transform: none;
  margin: -288px 20px 0 367px;
}

.u-section-1 .u-text-31 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-32 {
  font-size: 1.25rem;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-icon-15 {
  font-size: 1.875em;
}

.u-section-1 .u-text-33 {
  font-size: 1.25rem;
  text-align: left;
  margin: -15px 19px 0 368px;
}

.u-section-1 .u-icon-16 {
  font-size: 1.875em;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-1 .u-image-9 {
  width: 308px;
  height: 308px;
  background-image: url("images/CROPPED-DSC_9176copy.jpg");
  background-position: 50% 50%;
  margin: 42px auto 0 0;
}

.u-section-1 .u-text-34 {
  font-size: 2.25rem;
  text-transform: none;
  margin: -288px 20px 0 367px;
}

.u-section-1 .u-text-35 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-36 {
  font-size: 1.25rem;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-icon-17 {
  font-size: 1.875em;
}

.u-section-1 .u-text-37 {
  font-size: 1.25rem;
  text-align: left;
  margin: -15px 19px 0 368px;
}

.u-section-1 .u-icon-18 {
  font-size: 1.875em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-5 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-7 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-9 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-11 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-13 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-15 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-17 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1393px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
    margin-left: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 105px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-35 {
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    margin-left: 0;
  }
}