 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2697px;
}

.u-section-1 .u-text-1 {
  margin: 76px auto 0;
}

.u-section-1 .u-list-1 {
  width: 822px;
  grid-template-rows: auto auto auto;
  margin: 77px auto 35px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 2457px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-image-1 {
  width: 232px;
  height: 232px;
  background-image: url("https://nationallife.com.np/img/NewProject.jpg");
  background-position: 50% 50%;
  margin: 43px auto 0 77px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  margin: -213px 19px 0 368px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 19px 20px 0 367px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.875em;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  text-align: left;
  margin: 0 19px 0 368px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.875em;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-image-2 {
  width: 232px;
  height: 232px;
  background-image: url("https://nationallife.com.np/img/Prajwol.jpg");
  background-position: 50% 50%;
  margin: 43px auto 0 77px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  margin: -213px 19px 0 368px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 19px 20px 0 367px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.875em;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  text-align: left;
  margin: 0 19px 0 368px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.875em;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-image-3 {
  width: 232px;
  height: 232px;
  background-image: url("https://nationallife.com.np/img/Untitled-2.jpg");
  background-position: 50% 50%;
  margin: 43px auto 0 77px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  text-transform: none;
  margin: -213px 19px 0 368px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 19px 20px 0 367px;
}

.u-section-1 .u-icon-5 {
  font-size: 1.875em;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  text-align: left;
  margin: 0 19px 0 368px;
}

.u-section-1 .u-icon-6 {
  font-size: 1.875em;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-image-4 {
  width: 232px;
  height: 232px;
  background-image: url("https://nationallife.com.np/img/bivek3.jpg");
  background-position: 50% 50%;
  margin: 43px auto 0 77px;
}

.u-section-1 .u-text-14 {
  font-size: 1.5rem;
  text-transform: none;
  margin: -213px 19px 0 368px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 19px 20px 0 367px;
}

.u-section-1 .u-icon-7 {
  font-size: 1.875em;
}

.u-section-1 .u-text-17 {
  font-size: 1rem;
  text-align: left;
  margin: 0 19px 0 368px;
}

.u-section-1 .u-icon-8 {
  font-size: 1.875em;
}

.u-section-1 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-image-5 {
  width: 232px;
  height: 232px;
  background-image: url("https://nationallife.com.np/img/PawanNew.jpg");
  background-position: 50% 50%;
  margin: 43px auto 0 77px;
}

.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  text-transform: none;
  margin: -213px 19px 0 368px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-20 {
  font-size: 1rem;
  margin: 19px 20px 0 367px;
}

.u-section-1 .u-icon-9 {
  font-size: 1.875em;
}

.u-section-1 .u-text-21 {
  font-size: 1rem;
  text-align: left;
  margin: 0 19px 0 368px;
}

.u-section-1 .u-icon-10 {
  font-size: 1.875em;
}

.u-section-1 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-image-6 {
  width: 232px;
  height: 232px;
  background-image: url("https://nationallife.com.np/img/28922Vishal.jpg");
  background-position: 50% 50%;
  margin: 43px auto 0 77px;
}

.u-section-1 .u-text-22 {
  font-size: 1.5rem;
  text-transform: none;
  margin: -213px 19px 0 368px;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-24 {
  font-size: 1rem;
  margin: 19px 20px 0 367px;
}

.u-section-1 .u-icon-11 {
  font-size: 1.875em;
}

.u-section-1 .u-text-25 {
  font-size: 1rem;
  text-align: left;
  margin: 0 19px 0 368px;
}

.u-section-1 .u-icon-12 {
  font-size: 1.875em;
}

.u-section-1 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-1 .u-image-7 {
  width: 232px;
  height: 232px;
  background-image: url("https://nationallife.com.np/img/Sushil1.jpg");
  background-position: 50% 53.37%;
  margin: 43px auto 0 77px;
}

.u-section-1 .u-text-26 {
  font-size: 1.5rem;
  text-transform: none;
  margin: -213px 19px 0 368px;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-28 {
  font-size: 1rem;
  margin: 19px 20px 0 367px;
}

.u-section-1 .u-icon-13 {
  font-size: 1.875em;
}

.u-section-1 .u-text-29 {
  font-size: 1rem;
  text-align: left;
  margin: 0 19px 0 368px;
}

.u-section-1 .u-icon-14 {
  font-size: 1.875em;
}

.u-section-1 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-1 .u-image-8 {
  width: 232px;
  height: 232px;
  background-image: url("https://nationallife.com.np/img/CROPPED-DSC_9176copy.jpg");
  background-position: 50% 50%;
  margin: 43px auto 0 77px;
}

.u-section-1 .u-text-30 {
  font-size: 1.5rem;
  text-transform: none;
  margin: -213px 19px 0 368px;
}

.u-section-1 .u-text-31 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 20px 0 367px;
}

.u-section-1 .u-text-32 {
  font-size: 1rem;
  margin: 19px 20px 0 367px;
}

.u-section-1 .u-icon-15 {
  font-size: 1.875em;
}

.u-section-1 .u-text-33 {
  font-size: 1rem;
  text-align: left;
  margin: 0 19px 0 368px;
}

.u-section-1 .u-icon-16 {
  font-size: 1.875em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 162px;
    height: 162px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -143px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-image-2 {
    width: 162px;
    height: 162px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
    margin-top: -143px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-image-3 {
    width: 162px;
    height: 162px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.25rem;
    margin-top: -143px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-icon-5 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-image-4 {
    width: 162px;
    height: 162px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.25rem;
    margin-top: -143px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-icon-7 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-image-5 {
    width: 162px;
    height: 162px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.25rem;
    margin-top: -143px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-icon-9 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-image-6 {
    width: 162px;
    height: 162px;
  }

  .u-section-1 .u-text-22 {
    font-size: 1.25rem;
    margin-top: -143px;
  }

  .u-section-1 .u-text-23 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-icon-11 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-image-7 {
    width: 162px;
    height: 162px;
  }

  .u-section-1 .u-text-26 {
    font-size: 1.25rem;
    margin-top: -143px;
  }

  .u-section-1 .u-text-27 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-icon-13 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-image-8 {
    width: 162px;
    height: 162px;
  }

  .u-section-1 .u-text-30 {
    font-size: 1.25rem;
    margin-top: -143px;
  }

  .u-section-1 .u-text-31 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-icon-15 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1393px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
    margin-left: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 72px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -172px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 18px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 72px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -172px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 21px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 18px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 72px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -172px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 21px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 18px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 72px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -172px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 21px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 18px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 72px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: -172px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 21px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 18px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 72px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: -172px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: 21px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: 18px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-7 {
    margin-top: 72px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: -172px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: 21px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: 18px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-8 {
    margin-top: 72px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: -172px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-top: 21px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-top: 18px;
    margin-right: -69px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-right: -69px;
    margin-left: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3793px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: -53px;
    margin-left: 73px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: -53px;
    margin-left: 73px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
    margin-right: -53px;
    margin-left: 73px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 20px;
    margin-right: -53px;
    margin-left: 73px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-18 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 20px;
    margin-right: -53px;
    margin-left: 73px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-22 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 20px;
    margin-right: -53px;
    margin-left: 73px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-26 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 20px;
    margin-right: -53px;
    margin-left: 73px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-30 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-33 {
    margin-top: 20px;
    margin-right: -53px;
    margin-left: 73px;
  }
}